body {
    margin: 0;
    padding: 0;
    background-color: #6a11cb;
    background: radial-gradient(ellipse at center, #2E0854, #1F45A9, #42E3FC);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}