<div class="jumbotron text-center text-white mb-4 p-4 rounded-5 shadow-lg">
    <h1 class="display-4 fw-bold">🌟 Welcome to TaskMaster Pro 🌟</h1>
    <p class="lead">Bringing Seamless Task Management to Your Fingertips</p>
    <p class="lead">Made by Elad Levi</p>

</div>

<div class="container text-white">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto feature bg-dark p-4 rounded-5 shadow-lg">
        <h2 class="mb-4">🚀 Effortless Task Management with Real-time Updates</h2>
        <p>With TaskMaster Pro, you'll experience the power of Angular, Node.js, and MongoDB working together harmoniously. Our intuitive interface lets you create, update, and delete tasks without the hassle of page refreshes. Say goodbye to interruptions and hello to productivity!</p>
      </div>
    </div>
    
    <div class="row mb-4">
      <div class="col-md-8 mx-auto feature bg-dark p-4 rounded-5 shadow-lg">
        <h2 class="mb-4">🔒 State-of-the-Art Authorization and Security</h2>
        <p>We understand the importance of safeguarding your data. Our project integrates cutting-edge authorization techniques, including JWT tokens, to ensure that your information remains confidential and secure. Rest easy knowing that your tasks are for your eyes only.</p>
      </div>
    </div>
    
    <div class="row mb-4">
      <div class="col-md-8 mx-auto feature bg-dark p-4 rounded-5 shadow-lg">
        <h2 class="mb-4">🌐 Seamless User Experience with Angular and Express</h2>
        <p>Our project utilizes the Angular framework, providing you with a fluid and dynamic user experience. Meanwhile, the power of Express.js enhances the backend, guaranteeing smooth communication between the client and the server.</p>
      </div>
    </div>
    
    <div class="row mb-4">
      <div class="col-md-8 mx-auto feature bg-dark p-4 rounded-5 shadow-lg">
        <h2 class="mb-4">🌐 Real-time Communication via Socket.io</h2>
        <p>Collaboration has never been easier! TaskMaster Pro incorporates Socket.io to enable real-time communication between users. Post comments for each task and witness instant updates, fostering seamless teamwork and efficient task discussions.</p>
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-md-8 mx-auto feature bg-dark p-4 rounded-5 shadow-lg">
        <h2 class="mb-4">🎯 Key Features:</h2>
        <ul>
          <li>User-friendly task creation, editing, and deletion.</li>
          <li>Real-time comment functionality for task discussions.</li>
          <li>Robust user authorization using JWT tokens.</li>
          <li>Efficient Angular frontend paired with Express backend.</li>
          <li>Secure data management with MongoDB.</li>
          <li>Seamless, interruption-free task management.</li>
        </ul>
      </div>
    </div>
</div>